// colors

$color-1: #2980B9;//#3f435f; // dark purple
$color-2: #E74C3C;//#f58780; // salmon
$color-3: #f8f8f8;//#ffffff; // white

$header-height-S: 50px;
$header-height-L: 90px;

@font-face {
  font-family: 'Cocon-Light';
  /*a name to be used later*/
  src: url('Cocon-Light.otf');
  /*URL to font*/ }

// fonts 

$primary-font: 'Cocon-Light', sans-serif;